<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Banano Murder Mystery">
    <meta property="og:description" content="Who Killed Bantano? Coming Soon to a Super Market Near You">
    <meta name="viewport" content="width=device-width">
    <title>Banano Murder Mystery</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
      <img src="/gameposter.png" height="100%;"></img>
      <p>Find out who killed Bantano in this potassium filled thrilling murder mystery while learning about cryptocurrency.</p>
    </center>
  </body>
</html>