<html>
  <head>
    <!-- Ape Lincoln for President -->
    <meta charset="utf-8">
    <meta property="og:title" content="Prussia Banano Faucet">
    <meta property="og:description" content="Earn Free Banano, and Never Let Your Memes be Dreams!">
    <meta property="og:image" content="(banano image here)">
    <meta name="viewport" content="width=device-width">
    <title>Prussia Banano Faucet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <header>
      <img src="/LOGO.png" alt="">
    </header>
      <main id=#main>
      <br>
      {% if given %}
        {% if on_break %}
          <p>Hello! I am on break, so to prevent the faucet from going dry, payouts are set to 0.02 bans. Please continue to feel free to donate</p>
        {% else %}
          <p>Come back in 24 hours to claim Banano again!</p>
          <p>{{ amount }} Banano has been sent to address {{ address }}</p>
          <p>Donations to {{ faucet_addr }} keep the faucet running! Please donate. If the faucet has more than 100 bananos, payouts will increase.</p>
          <p>Also, I'm working on a social media site called <a href="https://www.reddit.com/r/banano/comments/nr1qvx/howler_social_media_platform_on_banano_concept_art/">Howler</a> that will be based on the Banano blockchain!</p>
        {% endif %}
        <b>Current Faucet Balance: {{ current_bal }}</b>
        <p>Also, a big thank you to our sponsor:</p>
        <center>
          <a href="https://theconquestofbliss.com"><img src="/sponsor/1.png" width="110px" height="110px"></img></a>
          <br>
          <a href="https://theconquestofbliss.com">Visit it here</a> 
        </center>
      {% else %}
        {% if errors %}
          {{ errors }}
        {% endif %}
        <form method="POST" action="/">
          <p>Hi! Please donate to the faucet: {{ faucet_addr }}.</p>
          <div class="address-input">
            <label for="address" class="form-label">Banano Address:</label>
            <input id="address" class="form-control" type="text" name="addr">
          </div>
          <div class="h-captcha" data-sitekey="9e25731c-b4b7-4ccf-a454-72f303c04a9f"></div>
          <div class="btn-container">
            <button type="submit">Get Free Banano</button>
          </div>
        </form>
        <b><a href="https://banano.cc/">What is Banano and how do I get a Banano Address?</a></b>
      {% endif %}
    </main>
    <footer>
      <p>
        <a href="https://ibb.co/0XxGNqt" target="_blank">
          Frontend courtesy of: Ape Lincoln for President of the Banunion
        </a>
      </p>
      {% if given %}
        <p>Hey you! Yeah you! Wanna have some <a href="/nano">free nano</a> too?</p>
      {% endif %}
    </footer>
  </body>
</html>