<html>
  <head>
    <!-- Ape Lincoln for President -->
    <meta charset="utf-8">
    <meta property="og:title" content="Prussia Banano Faucet">
    <meta property="og:description" content="Earn Free Banano, and Never Let Your Memes be Dreams!">
    <meta property="og:image" content="(banano image here)">
    <meta name="viewport" content="width=device-width">
    <title>Banano Faucet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet" type="text/css" />
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <header>
      <img src="../files/LOGO.png" alt="">
    </header>
      <main id=#main>
      <br>
      {% if given %}
        <p>Come back in 24 hours to claim Banano again!</p>
        <p>{{ amount }} Banano has been sent to address {{ address }}</p>
        <p>Donations to ban_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps keep the faucet running! Please donate.</p>
        <!-- <p>Fun fact! If the faucet has more than 100 bananos, payouts will increase. Also, I'm working on a game <a href="/game">(click here)</a> about banano.</p> -->
        <b>Current Faucet Balance: {{ current_bal }}</b>
      {% else %}
        {% if errors %}
          {{ errors }}
        {% endif %}
        <form method="POST" action="/">
          <p>Hi! Please donate to the faucet: ban_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps.</p>
          <div class="address-input">
            <label for="address" class="form-label">Banano Address:</label>
            <input id="address" class="form-control" type="text" name="addr">
          </div>
          <div class="h-captcha" data-sitekey="9e25731c-b4b7-4ccf-a454-72f303c04a9f"></div>
          <div class="btn-container">
            <button type="submit">Get Free Banano</button>
          </div>
        </form>
        <b><a href="https://banano.cc/">What is Banano and how do I get a Banano Address?</a></b>
      {% endif %}
    </main>
    <footer>
      <p>
        <a href="https://ibb.co/0XxGNqt" target="_blank">
          Frontend courtesy of: Ape Lincoln for President of the Banunion
        </a>
      </p>
    </footer>
  </body>
</html>