<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Banano Faucet">
    <meta property="og:description" content="Earn Free Banano!">
    <meta property="og:image" content="(banano image here)">
    <meta name="viewport" content="width=device-width">
    <title>Banano Faucet</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <br>
    {% if given %}
      <p>Come back in 24 hours to claim Banano again!</p>
      <p>{{ amount }} Banano has been sent to address {{ address }}</p>
      <p>Donations to ban_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps keep the faucet running! Please donate.</p>
      <p>Fun fact! If the faucet has more than 100 bananos, payouts will increase. Also, I'm working on a game <a href="/game">(click here)</a> about banano.</p>
      <b>Current Faucet Balance: {{ current_bal }}</b>
    {% else %}
      {% if errors %}
        {{ errors }}
      {% endif %}
      <form method="POST" action="/">
        <p>Hi! Please donate to the faucet: ban_3346kkobb11qqpo17imgiybmwrgibr7yi34mwn5j6uywyke8f7fnfp94uyps.</p>
        Banano Address: <input id="address" type="text" name="addr">
        <div class="h-captcha" data-sitekey="9e25731c-b4b7-4ccf-a454-72f303c04a9f"></div>
        <button type="submit">Get Free Banano</button>
      </form>
      <b><a href="https://banano.cc/">What is Banano and how do I get a Banano Address?</a></b>
    {% endif %}
  </body>
</html>