<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Prussia xDai Faucet">
    <meta property="og:description" content="Earn Free xDai!">
    <meta property="og:image" content="(xdai image here)">
    <meta name="viewport" content="width=device-width">
    <title>Prussia xDai Faucet</title>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <link href="/xdai.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
    <div id="center">
      <h1 id="title">xDai Faucet</h2>
      <p>Need gas? We gotcha covered. Please donate to {{ faucet_addr }}</p>
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}
      {% if given %}
        <p>Success</p>
      {% endif %}
      <form method="POST" action="/xdai" id="form">
        <label for="address">xDai Address:</label><input id="address" type="text" name="addr">
        <div class="h-captcha" data-sitekey="9e25731c-b4b7-4ccf-a454-72f303c04a9f"></div>
        <button type="submit" id="get-btn">Get Free xDai</button>
      </form>
    </div>
    </center>
  </body>
</html>