html {
  background: repeat url("/xdai.png");
}

#center {
  width: 60%;
  height: 60%;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  padding-top: 1%;
  margin-top: 10%;
}

* {
  font-family: Verdana;
}